In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data-sets/IDS_CSV/IDS_ALLCountries_Data.csv')
df.head()

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,...,17.9041,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,...,17.9041,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,...,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.DPPG,NaN,NaN,NaN,NaN,...,73.0790,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.OFFT,NaN,NaN,NaN,NaN,...,73.0790,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Country Name', 'Country Code', 'Counterpart-Area Name',
       'Counterpart-Area Code', 'Series Name', 'Series Code', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77389 entries, 0 to 77388
Data columns (total 65 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Name           77386 non-null  object
 1   Country Code           77384 non-null  object
 2   Counterpart-Area Name  77384 non-null  object
 3   Counterpart-Area Code  77384 non-null  object
 4   Series Name            77384 non-null  object
 5   Series Code            77384 non-null  object
 6   1970                   34993 non-null  float64
 7   1971                   35843 non-null  float64
 8   1972                   36576 non-null  float64
 9   1973                   37360 non-null  float64
 10  1974                   37913 non-null  float64
 11  1975                   38687 non-null  float64
 12  1976                   39165 non-null  float64
 13  1977                   40056 non-null  float64
 14  1978                   40714 non-null  float64
 15  1979                   40991 non-null  float64
 16  1980                   41780 non-null  float64
 17  1981                   43405 non-null  float64
 18  1982                   43735 non-null  float64
 19  1983                   44043 non-null  float64
 20  1984                   44531 non-null  float64
 21  1985                   44930 non-null  float64
 22  1986                   45065 non-null  float64
 23  1987                   44668 non-null  float64
 24  1988                   44487 non-null  float64
 25  1989                   45702 non-null  float64
 26  1990                   45581 non-null  float64
 27  1991                   45479 non-null  float64
 28  1992                   46676 non-null  float64
 29  1993                   47568 non-null  float64
 30  1994                   48205 non-null  float64
 31  1995                   48538 non-null  float64
 32  1996                   49221 non-null  float64
 33  1997                   49236 non-null  float64
 34  1998                   49532 non-null  float64
 35  1999                   51037 non-null  float64
 36  2000                   50649 non-null  float64
 37  2001                   50668 non-null  float64
 38  2002                   50477 non-null  float64
 39  2003                   50212 non-null  float64
 40  2004                   50430 non-null  float64
 41  2005                   50249 non-null  float64
 42  2006                   50384 non-null  float64
 43  2007                   50635 non-null  float64
 44  2008                   50429 non-null  float64
 45  2009                   50648 non-null  float64
 46  2010                   50630 non-null  float64
 47  2011                   49845 non-null  float64
 48  2012                   49673 non-null  float64
 49  2013                   50079 non-null  float64
 50  2014                   51295 non-null  float64
 51  2015                   50401 non-null  float64
 52  2016                   50458 non-null  float64
 53  2017                   50651 non-null  float64
 54  2018                   50560 non-null  float64
 55  2019                   50021 non-null  float64
 56  2020                   50411 non-null  float64
 57  2021                   12459 non-null  float64
 58  2022                   12377 non-null  float64
 59  2023                   12254 non-null  float64
 60  2024                   12134 non-null  float64
 61  2025                   11834 non-null  float64
 62  2026                   11611 non-null  float64
 63  2027                   11468 non-null  float64
 64  2028                   11132 non-null  float64
dtypes: float64(59), object(6)
memory usage: 38.4+ MB

In [5]:
df.isnull().sum()

Country Name                 3
Country Code                 5
Counterpart-Area Name        5
Counterpart-Area Code        5
Series Name                  5
                         ...
2024                     65255
2025                     65555
2026                     65778
2027                     65921
2028                     66257
Length: 65, dtype: int64

In [7]:
df.describe()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
count,3.499300e+04,3.584300e+04,3.657600e+04,3.736000e+04,3.791300e+04,3.868700e+04,3.916500e+04,4.005600e+04,4.071400e+04,4.099100e+04,...,5.002100e+04,5.041100e+04,1.245900e+04,1.237700e+04,1.225400e+04,1.213400e+04,1.183400e+04,1.161100e+04,1.146800e+04,1.113200e+04
mean,2.418032e+08,2.615074e+08,2.960808e+08,3.708542e+08,4.697524e+08,5.624011e+08,6.298892e+08,7.691486e+08,9.111953e+08,1.087913e+09,...,1.522064e+10,1.526919e+10,5.242485e+09,4.701605e+09,4.419949e+09,4.149007e+09,3.973974e+09,3.084962e+09,2.954229e+09,3.065632e+09
std,5.287998e+09,5.676280e+09,6.335208e+09,7.936191e+09,9.931066e+09,1.093636e+10,1.174206e+10,1.321511e+10,1.436936e+10,1.698454e+10,...,2.886527e+11,2.811448e+11,3.476405e+10,2.991221e+10,2.752301e+10,2.418226e+10,2.332526e+10,1.706810e+10,1.613358e+10,1.663681e+10
min,-1.684299e+09,-2.095143e+09,-4.723625e+08,-2.899000e+08,-3.117914e+09,-1.393498e+10,-1.060234e+10,-1.485314e+10,-2.658528e+10,-1.963556e+10,...,-1.338410e+11,-1.257010e+11,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,7.220000e-02,2.380550e+00,6.050350e+00,7.668257e+00,1.392980e+01,2.182210e+01,4.111829e+01,1.201814e+02,3.000000e+03,5.000000e+03,...,1.163781e+00,5.140000e-02,1.343719e+07,1.388824e+07,1.379260e+07,1.272786e+07,1.263271e+07,1.168700e+07,1.000000e+07,8.588643e+06
50%,1.654475e+06,1.826000e+06,2.359205e+06,2.848000e+06,3.481873e+06,4.510768e+06,5.107200e+06,6.612052e+06,7.480864e+06,9.306000e+06,...,2.845400e+07,2.858300e+07,1.229288e+08,1.245334e+08,1.227250e+08,1.169949e+08,1.145540e+08,9.867047e+07,9.149800e+07,8.066908e+07
75%,2.174353e+07,2.423075e+07,3.030630e+07,3.611921e+07,4.597607e+07,5.677565e+07,6.161305e+07,7.562230e+07,9.000000e+07,1.076840e+08,...,6.728168e+08,6.925054e+08,9.493626e+08,9.276454e+08,8.759689e+08,8.497433e+08,7.577243e+08,6.832353e+08,6.911090e+08,6.063123e+08
max,5.843440e+11,6.310940e+11,7.092430e+11,8.970180e+11,1.137400e+12,1.258790e+12,1.351730e+12,1.516240e+12,1.631680e+12,1.928800e+12,...,3.101830e+13,2.987920e+13,1.065070e+12,9.303370e+11,8.574520e+11,7.362400e+11,6.609430e+11,4.867220e+11,4.483410e+11,4.294500e+11