In [27]:
import pandas as pd
import numpy as np
import sqlite3

In [36]:
## reading the csv file
df1 = pd.read_csv('../data-sets/IDS_CSV/IDS_ALLCountries_Data.csv', sep=",", encoding='cp1252')
df2 = pd.read_csv('../data-sets/IDS_CSV/IDS_Country-SeriesMetaData.csv', sep=",", encoding='cp1252')
df3 = pd.read_csv('../data-sets/IDS_CSV/IDS_CountryMetaData.csv', sep=",", encoding='cp1252')
df4 = pd.read_csv('../data-sets/IDS_CSV/IDS_Footnotes.csv', sep=",", encoding='cp1252')
df5 = pd.read_csv('../data-sets/IDS_CSV/IDS_Series-TimeMetaData.csv', sep=",", encoding='cp1252')
df6 = pd.read_csv('../data-sets/IDS_CSV/IDS_SeriesMetaData.csv', sep=",", encoding='cp1252')

In [37]:
## Removing spaces from the column name and adding '_' inbetween
df1.columns

Index(['Country Name', 'Country Code', 'Counterpart-Area Name',
       'Counterpart-Area Code', 'Series Name', 'Series Code', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028'],
      dtype='object')

In [38]:
df1.columns = df1.columns.str.replace(' ', '_') ## space to _
df1.columns = df1.columns.str.replace('-', '_') ## - to _

In [39]:
df1.columns

Index(['Country_Name', 'Country_Code', 'Counterpart_Area_Name',
       'Counterpart_Area_Code', 'Series_Name', 'Series_Code', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028'],
      dtype='object')

In [44]:
for i in range(1,6):
    df1.columns = df1.columns.str.replace(' ', '_') ## space to _
    df1.columns = df1.columns.str.replace('-', '_') ## - to _

df1
df2
df3
df4
df5

In [46]:
for i in range(1,6):
    df1.columns = df1.columns.str.replace(' ', '_') ## space to _
    df1.columns = df1.columns.str.replace('-', '_') ## - to _

SyntaxError: invalid syntax (1246967666.py, line 2)

In [40]:
## Storing back to csv
df1.to_csv('../modified data-sets/IDS_ALLCountries_Data-1.csv', encoding='utf-8' , index=False)

## Importing the data-set

In [7]:
## reading the csv file
df1 = pd.read_csv('../modified data-sets/IDS_ALLCountries_Data-1.csv')
df1.head()

,Country_Name,Country_Code,Counterpart_Area_Name,Counterpart_Area_Code,Series_Name,Series_Code,1970,1971,1972,1973,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,...,17.9041,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,...,17.9041,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,...,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.DPPG,NaN,NaN,NaN,NaN,...,73.0790,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.OFFT,NaN,NaN,NaN,NaN,...,73.0790,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#connect to a database
conn = sqlite3.connect("../sql data-base/all_countries.db")

In [10]:
#store your table in the database:
df1.to_sql('../sql data-base/all_countries', conn)

## 1) Finding the number of distinct countries

In [12]:
query1 = 'select distinct Country_Name from all_countries'
ans1 = pd.read_sql(query1, conn)

In [15]:
ans1.head()

  Country_Name
0  Afghanistan
1      Albania
2      Algeria
3       Angola
4    Argentina

In [17]:
print("Number of Distinct Countries : ",len(ans1))

Number of Distinct Countries :  139

## 2) Finding out the distinct debt indicators

In [20]:
query2 = 'select distinct Country_Code as "Distinct Dept Indicator" from all_countries'
ans2 = pd.read_sql(query2, conn)

In [22]:
ans2.head()

  Distinct Dept Indicator
0                     AFG
1                     ALB
2                     DZA
3                     AGO
4                     ARG

In [23]:
print("Number of Distinct Dept Indicators : ",len(ans2))

Number of Distinct Dept Indicators :  137